.grid__name {
    max-width: calc(100% - 21px);
    margin: 0;
    padding: 0;
    font-weight: 900;
    line-height: 29px;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*ze haya li
.cards__text-name:nth-child(5){
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.cards__text-name{
    width: 250px;
    margin-left: 20px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;*/