@import url('./__about-me/profile__about-me.css');
@import url('./__add/profile__add.css');
@import url("./__edit/profile__edit.css");
@import url('./__info-name/profile__info-name.css');
@import url('./__info/profile__info.css');
@import url('./__picture/profile__picture.css');
.profile {
  
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  }

  


  @media screen and (max-width: 1100px){
.profile {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    }
}

@media screen and (max-width: 480px) {
  .profile {
   /* width: 288px;
    flex-direction: column;
    margin-top: 38px; לבדוק אם אפשר לשנות פשוט את המרגין
  */
  width: calc(100% - 38px);
}}
/*
.profile {
    max-width: 882px;
    margin-top: 40px;
    margin: 40px auto;
    display: flex;
    min-height: 120px;
    align-items: center;
    justify-content: flex-start;
    }
  
    
  
  
    @media screen and (max-width: 900px){
  .profile {
      flex-direction: column;
      padding-top: 38px;
      margin-left: 0;
      }
  }
  
  @media screen and (max-width: 320px) {
    .profile {
      width: 288px;
      flex-direction: column;
      margin-top: 38px;
    
  }}*/