.profile__edit {
    background-image: url("../../../images/mouse.svg");
    width: 24px;
    height: 24px;
    /*margin: 0 0 0 18px;*/
    margin: 18px 0 0 18px;
    /*    padding: 0;*/
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ffffff;
    background-color: transparent;
    transition-duration: 1s;
    cursor: pointer;
}

.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1100px) {
    .profile__edit {
        margin-left: 10px;
    }
}

@media screen and (max-width: 420px) {
    .profile__edit {
        max-width: 18px;
        max-height: 18px;
        margin-top: 30px;
    }
}