.grid__delete {
    background-image: url('../../../images/Trashdelete.svg');
    position: absolute;
    height: 19.3px;
    width: 18px;
    right: 15px;
    top: 18px;
    background-color: transparent;
    transition: opacity .5s linear;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.grid__delete:hover {
    opacity: .6;
}

.grid__delete:focus {
    display: none;
}