.header__logo{
    max-width:173px;
    max-height:33px;
    margin-top: 8px;
    
}


@media screen and (max-width: 768px){
   .header__logo {
     max-width: 126px;
     max-height: 24px;
     padding-bottom: 32px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo  {
          margin-bottom: 40px;
      }