.header{
    margin: 0 0 36px 0;
    padding: 45px 0 0 0 ;
    border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}
@media screen and (max-width: 320px){
    .header{
    padding-top:  28px;
    }}
/*@import url('./__logo/header__logo.css');
.header{
    max-width: 882px;
    height: 82px;  
    display: block;
    margin: auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    align-self: stretch;
    padding-top: 45px;
    

}

@media screen and (max-width: 900px){
.header {/*
    padding: 28px 0 0 10%;*/
  /*  
    max-height: 56px;
    margin-left: 0px;
    }
}


@media screen and (max-width: 320px){
    .header{
    width: 288px;
    margin-left: 5px;

    }
}