.popup__image-close-btn {
    background-image: url('../../../images/Close-Icon.svg');
    height: 40px;
    width: 40px;
    background-color: transparent;
    background-size: contain;
    border: none;
    top: -15px;
    right: 5px;
    margin-bottom: 32px;
    position: absolute;
    cursor: pointer;
}

.popup__image-close-btn:hover {
    opacity: .6;
}

@media screen and (max-width: 480px) {
    .popup__image-close-btn {
        top: 0;
        right: 0;
        background-color: rgb(0, 0, 0, 0.1);
    }
}