.footer__copyright {
    height: 18px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    }
    
    
    @media screen and (max-width: 320px) {
      .footer__copyright {
            margin-left: 12px;
            
        }
    }