/* .profile__picture-container {
    margin: auto;
} */

.profile__picture-container {
    margin: auto;
}

.profile__picture-container:hover .profile__pic-edit {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.profile__picture-container:hover .profile__pic {
    opacity: .2;
}