.profile__picture-overlay {
    /* width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    align-items: center;
    background-image: url("../../../images/pencil-edit.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    transition: opacity .3s linear;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer; */
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s ease;
    padding: 50px;
}

.profile__image-overlay:hover {
    opacity: 1;
}