.profile__info-name {
    max-width: 373px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: normal;
    font-size: 42px;
    line-height: 56px;
    min-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
    flex-basis: auto;
}

@media screen and (max-width: 480px) {
    .profile__info-name {
        font-size: 22px;
        line-height: 27px;
        max-width: 250px;
        text-align: center;
        margin-left: 22px;
        margin-top: 26.25px;
    }
}


/*.profile__info-name{
    max-width: 380px;
    height: 43px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 425px) {
    .profile__info-name{
    font-size: 22px;
    text-align: center;
    }
  }*/