/*@import url('./__pic/cards__pic.css');
@import url('./__text-heart/cards__text-heart.css');
@import url('./__text-name/cards__text-name.css');
@import url('./__text/cards__text.css');
*/.grid__card{
    max-width: 282px;
    background: #FFFFFF;
    border-radius: 10px;
	padding: 0;
	margin: 0; 
    }

/*.cards{
    width: 282px;
    height: 361px;
    background: #FFFFFF;
    border-radius: 10px;
    list-style: none;
	padding: 0;
	margin: 0; 
    }
*/
    