@import url('./_container/popup__image-container.css');
@import url('./_title/popup__image-title.css');
.popup__image {
    max-width: 75vw;
    max-height: 75vh;
    object-fit: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .popup__image {
        height: 540px;
    }
}